
.wrapper--blue {
    background-color: #035f74;
}

.law-of-attraction {
    position: relative;
}
.law-of-attraction__row {
    flex-wrap: nowrap;
}
.law-of-attraction__figure {
    flex: 0 1 916px;
}
.law-of-attraction__section {
    flex: 0 1 auto;
}
.main-figure {
    position: relative;
    height: 937px;
}
.main-figure__image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.main-figure__figcaption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    padding-left: 60px;
}
.main-figure__pretitle,
.main-figure__title {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif
}
.main-figure__pretitle {
    font-size: 27px;
    line-height: 27px;
    font-weight: 700;
    letter-spacing: .19em;
    display: block;
    margin-bottom: 30px;
}
.main-figure__title {
    font-size: 80px;
    line-height: 1em;
    font-weight: 600;
    max-width: 450px;
    margin-bottom: 30px;
    letter-spacing: .03em;
}

.law-of-attraction__bttn {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 55px;
    font-weight: 600;
    letter-spacing: .18em;
    display: inline-block;
}
.law-of-attraction__bttn::before {
    content: ">";
    width: 55px;
    height: 55px;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    text-align: center;
    font-size: 25px;
    line-height: 55px;
    margin-right: 15px;
    text-indent: 6px;
    position: relative;
    top: 4px;
}


.nav-attraction {
    position: fixed;
    top: 0;
    width: 100%;
}
.main-navigation {
    display: none;
}

.section-main {
    display: flex;
}
.section-main__article {
    flex: 0 1 50%;
    height: 596px;
    padding: 32px 20px 20px 18px;
}
.section-main__article--yellow {
    background-color: #eaae3e;
}
.section-main__article--purple {
    background-color: #73479f;
    /* background-image: url('../imgs/test.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}


.section-main__article-number,
.section-main__article-title,
.section-main__article-text {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    text-transform: uppercase;
    display: block;
}
.section-main__article-number {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -.03em;
    margin-bottom: 20px;
}
.section-main__article-title {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: .01em;
    margin-bottom: 190px;
}
.section-main__article-text {
    font-size: 32px;
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: .01em;
    margin-bottom: 130px;
    max-width: 230px;
}



.section-bottom {
    width: 100%;
    height: 341px;
    background-color: #000;
}
@media only screen
and (min-width: 767px) {

}
@media only screen
and (max-width: 767px) {
    
}